@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
}
.my_pwcheck{
	padding-bottom: 1em;
	padding-left: 1em;
	font-size: 0.8em;
	color: #c0c0c0;
}
h1{
	text-align: left;
	padding-left: 20px;
	padding-bottom: 50px;
}
h2{
	text-align: left;
	display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 8px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

input[type="password"]{
	width: calc(100% - 20px);
    padding: 11px 10px 9px 10px;
    font-size: 16px;
    border: 1px solid #ced4da;
	background-color: rgb(239, 242, 236);
    border-radius: 20px;
    margin-bottom: 10px;
    font-family: 'GmarketSansMedium', Arial, sans-serif;
}

form button {
	width: 150px;
    padding: 12px;
    font-size: 16px;
    color: #ffffff;
    background-color: #45a049;
    border: none;
    border-radius: 100px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
	border: none;
}

form button:hover {
    background-color: darkgreen;
}