@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    overflow: hidden;
}
.container {
    width: 1000px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 1px solid gainsboro;
}

header h1 {
    color: green;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #333;
}

nav ul li.user {
    font-weight: bold;
    color: green;
}

.form-container {
    display: flex;
    gap: 10px;
    margin: -12px 0;
}
.form-container1{
/*     display: flex; */
    gap: 10px;
    margin: -12px 0;
	width: 77%;
    
}

.input-container {
    position: relative;
    margin: 20px 0;
}
.fixed-size-textarea {
    width: 769px; 
    height: 200px; 
    resize: none; 
    padding: 10px;
    font-size: 14px; 
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box;
}
.fixed-size-textareas {
    width: 1000px; 
    height: 250px;
    resize: none;
    padding: 10px; 
    font-size: 14px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container select {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.input-container input[type="text"]{
	width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
}
.input-container label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.2s;
    pointer-events: none;
    background-color: #fff;
    padding: 0 5px;
}

.input-container input[type="text"]:focus + label,
.input-container input[type="text"]:not(:placeholder-shown) + label,
.input-container select:focus + label,
.input-container select:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}

.c-r {
    color: red;
}

.photo-upload {
    display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: auto;
	position: absolute;
	top: 138px;
    right: 28px;
}

.photo-upload label {
    cursor: pointer;
    padding: 12px 20px;
    background-color: #498ed8;
    color: white;
    border: none;
    border-radius: 4px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /*height: 93px;*/
}

.photo-upload input[type="file"] {
    display: none;
}

.skill-container {
    margin: 20px 0;
}

.skill-container h3 {
    margin-bottom: 10px;
}

.skill-container input[type="text"] {
    width: 21%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.skill-container button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.skill-container button.selected {
    background-color: #498ed8;;
    color: white;
    border-color: #007bff;
}

.selected-skills {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.selected-skills button {
    margin: 2px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: #333;
}

.reset-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.reset-button:hover {
    background-color: #f9f9f9;
}

.checkbox-label {
    display: flex;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
    gap: 5px;
    user-select: none;
}

.checkbox-label input[type="checkbox"] {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: #498ed8;
}

.form-section {
    position: relative;
    margin-bottom: 20px;
}

.form-section h3 {
    margin-bottom: 30px;
}


.add-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.add-button:hover {
    background-color: #f9f9f9;
}

.postal-button {
	background-color: #498ed8;
	color: white;
	border-radius: 4px;
	border: none;
	cursor: pointer;
}

.submit-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}


.crystal-button{
	padding: 10px 20px;
	background-color: #498ed8;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	float: right;
	margin-top: -23px;
	margin-right: 25px;
}

.submit-button:hover {
    background-color: #0056b3;
}
.crystal-button:hover {
    background-color: #0056b3;
}

.photo-preview {
	position: absolute;
	margin-top: 5px;
	right: 61px;
	top: 18px;
    width: 110px;
    height: 130px;
}

.photo-preview img {
    max-width: 150%;
    height: auto;
	margin-left: 4px;
	margin-top: 26px;
	/*올린 사진 이미지 크기 고정*/
	width: 165px;
	height: 165px;
	border: 1px solid #808080;
}

.fx-1 {flex:1}
.fx-2 {flex:2}
.fx-3 {flex:3}
.fx-4 {flex:4}


.input-container.address {
    min-width: 565px;
}

.input-container.email {
    min-width: 250px;
}
.input-container.w100 {
    min-width: 100px;
}

.input-container.position {
    min-width: 250px;
}

.selection{
	width: 20%;
	border: 1px solid #ccc;
	padding: 12px;
	font-size: 14px;
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	margin-top: -10px;
	cursor: pointer;
}

.classGubun{
	cursor: pointer;
}
.gradStatus{
	cursor: pointer;
}
#gubun{
	cursor: pointer;
}
.score{
	cursor: pointer;
}
#gender {
	cursor: pointer;
}

.types{
	width: 100%;
	border: 1px solid #ccc;
	padding: 13px;
	font-size: 14px;
	border-radius: 4px;
	outline: none;
	box-sizing: border-box;
	margin-top: 19px;
	margin-right: 49px;
}

.input-position input[type="text"] {
    width: 100%;
    border: 1px solid #ccc;
    padding: 12px;
    font-size: 14px;
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;
	margin-left: 0px;
	margin-right: 16px;
}

.input-position label {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #aaa;
    transition: 0.2s;
    pointer-events: none;
    background-color: #fff;
    padding: 0 5px;
	margin-left: -3px;
}

.input-position{
	position: relative;
	margin: 20px 0;
}

.input-position input[type="text"]:focus + label,
.input-position input[type="text"]:not(:placeholder-shown) + label,
.input-position select:focus + label,
.input-position select:not(:placeholder-shown) + label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: #333;
}