@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: Arial, sans-serif;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(250, 250, 250);
}

.board-name {
    display: flex;
    justify-content: center;
	align-items: center;
    width: 100%;
	margin: 20px 0 0 0px;
	font-size: 20px;
}

.listbutton{
	font-family: 'GmarketSansMedium', Arial, sans-serif;
	width: 100px;
	height: 40px;
	color: white;
	background-color: #45a049;
/*	border-radius: 10px;;*/
	padding: 5px;
	border: none;
	margin-left: 188px;
/*	margin-bottom: 10px;*/
	cursor: pointer;
}

.listbutton:hover,
.comment-write button:hover{
	background-color: #369536;
}

.listbutton a{
	color: white;
	text-decoration: none;
}

.container {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 750px;
    background-color: rgb(250, 250, 250);
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
}

.container form{
    width: 751px;
}

/*.uploadResult {*/
/*    width: 100%;*/
/*    background-color: gray;*/
/*}*/

.uploadResult ul {
    display: flex;
    flex-flow: row;
}

.uploadResult ul li {
    list-style: none;
    padding: 10px;
}

.uploadResult ul li img {
    width: 100px;
}

.content_area{
	border: 1px solid #ccc;
}

.content_title_area {
    padding: 20px;
    padding-bottom: 15px;
    padding-left: 40px; /* 왼쪽 여백 추가 */
    border-bottom: 2px solid #ddd;
    text-align: left;
    width: 100%;
    box-sizing: border-box; /* 박스 사이징 설정 */
}

.content_content_area {
    padding: 20px;
    /*
	display: flex;
    align-items: center;
    justify-content: center;
	*/
    min-height: 200px;
    /*text-align: center;*/
    width: 95%;
    box-sizing: border-box; /* 박스 사이징 설정 */
}

.content_area {
    padding-bottom: 15px;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    box-sizing: border-box; /* 박스 사이징 설정 */
}


/*.choosebutton button{*/
/*	font-family: 'GmarketSansMedium', Arial, sans-serif;*/
/*	width: 50px;*/
/*	height: 30px;*/
/*	color: black;*/
/*	background-color: rgb(255,255,255);*/
/*	border: none;*/
/*	cursor: pointer;*/
/*}*/

/*.choosebutton button:hover{*/
/*	color: rgb(143, 215, 23);*/
/*}*/

.comment-write form {
	font-family: 'GmarketSansMedium', Arial, sans-serif;
    padding-top: 15px;
    display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* 박스 사이징 설정 */
}

.commentContent {
	font-family: 'GmarketSansMedium', Arial, sans-serif;
    border: 1px solid gray;
    width: 450px;
    height: 45px;
/*    border-radius: 10px;*/
    background-color: rgb(255,255,255);
    padding: 15px;
    margin: 5px;
}

/*.commentWriter {*/
/*    border: none;*/
/*    width: 100px;*/
/*    height: 45px;*/
/*    border-radius: 10px;*/
/*    background-color: #e6e6e6;*/
/*    padding: 15px;*/
/*    margin: 5px;*/
/*}*/

.comment-write button {
	font-family: 'GmarketSansMedium', Arial, sans-serif;
    border: none;
    width: 70px;
    height: 45px;
/*    border-radius: 10px;*/
	background-color: #45a049;
	color: white;
/*    margin: 5px;*/
	cursor: pointer;
	margin-left: 5px;
}

.comment-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box; /* 박스 사이징 설정 */
}

.comment-list h4 {
    margin-top: 20px;
    border-bottom: 2px solid #ddd;
    text-align: left;
    width: 100%;
    box-sizing: border-box; /* 박스 사이징 설정 */
	padding-bottom: 15px;
}

.comments {
    margin-top: 20px;
/*	background-color: white;*/
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box; /* 박스 사이징 설정 */
}

.comments p {
    width: 750px;
    box-sizing: border-box; /* 박스 사이징 설정 */
}

.comments .comment-id,
.comments .comment-time {
    text-align: left;
    padding-left: 10px;
}

.comments .p2 {
    background-color: white;
    box-sizing: border-box; /* 박스 사이징 설정 */
	height: 50px;
	line-height: 50px; /* box의 높이와 같은 값으로 설정 */
	text-align: center;
}