/*start page button*/
.div_page {
	margin: 30px 0 15px 0;
    height: 10px;
}

.div_page ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 0;
}

.div_page ul li {
    margin: 0 5px;
}

.div_page ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* 부드러운 전환 효과 */
}

.div_page ul li a:hover {
    color: rgb(143, 215, 23);
}

.div_page ul li.active > .page-link {
	color: rgb(143, 215, 23);
}

/*end page button*/