/* 기본 스타일 설정 */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f9fa;
    padding: 10px 0;
    border-bottom: 1px solid #e9ecef;
}

.menu {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-decoration: none;
    color: #343a40;
    margin: 0 10px;
    transition: color 0.3s;
}

.menu a:hover {
    color: #007BFF;
}

.container {
    width: 1000px;
    margin: 20px auto;
    background-color: #ffffff;
    padding: 20px;
	border: 1px solid rgb(217, 217, 217);
}

/* 헤더 버튼 */
.header {
    text-align: right;
}

.header a {
    text-decoration: none;
    color: #ffffff;
    background-color: #45a049;
    padding: 10px 20px;
    border-radius: 5px;
}

/* 탭 스타일 */
.tabs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.tabs a {
    width: 20%;
    height: 50px;
    text-align: center;
    padding: 15px;
    background-color: #f8f9fa;
    color: #007BFF;
    text-decoration: none;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs a:last-child {
    margin-right: 0;
}

.tabs a:hover {
    background-color: #007BFF;
    color: white;
}

/* 섹션 제목 */
.section-title {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 5px solid #45a049;
    margin-bottom: 10px;
    font-weight: bold;
}

/* 지원 버튼 */
.apply-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.apply-button button {
    background-color: #45a049;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.apply-button button:hover {
    background-color: darkgreen;
}

.right-column ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right-column ul li {
    margin-bottom: 10px;
}

.right-column h3 {
    color: #45a049;
    margin-bottom: 10px;
    font-size: 20px;
}

/* 모달 스타일 */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4); 
    padding-top: 60px; 
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* 관심 기업 구독 버튼 */
.girBtn {
    display: flex;
    align-items: center;
    background: transparent;
    border: 1px solid #d5d5d7;
    padding: 3px 8px;
}

.girBtn:before {
    position: relative;
    display: inline-block;
    background: url(../../gir_sp_btn.png) no-repeat;
    vertical-align: middle;
}

.girBtnFavOn:before {
    content: "";
    width: 15px;
    height: 12px;
    margin: 1px 3px 0 0;
    background-position: -191px 0;
}

.girBtnFav:before {
    content: "";
    width: 15px;
    height: 12px;
    margin: 1px 3px 0 0;
    background-position: -157px 0;
}

/* 툴팁 스타일 */
.tooltip {
    display: flex;
    align-items: center;
    position: absolute;
    z-index: 10;
    margin-top: -48px;
    margin-right: -3px;
    height: 35px;
    border: 1px solid rgb(255, 128, 0);
    background-color: #fff;
    border-radius: 4px;
    font-size: 13px;
    color: rgb(255, 128, 0);
    font-weight: 400;
    text-align: center;
    padding: 0 35px 0 16px;
    box-sizing: border-box;
    box-shadow: 0 4px 4px 2px rgba(0, 0, 0, .06);
    cursor: default;
}

.tooltip:after {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='14' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.6 5.867a2 2 0 01-3.2 0L1 0h12L8.6 5.867z' fill='%23fff'/%3E%3Cpath d='M1 .5l4.438 5.548a2 2 0 003.124 0L13 .5' stroke='%23ff8000' stroke-linecap='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
}

.tooltip .buttonClose {
    position: absolute;
    right: 16px;
    width: 14px;
    height: 14px;
    background: url("../../classbutton.svg") no-repeat;
    background-size: 10px;
    background-position: 50%;
    cursor: pointer;
}

.tooltip.close {
    display: none;
}

/* 통계 컨테이너 스타일 */
.statistics-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.statistics-section {
    background-color: #ffffff;
	border: 1px solid rgb(217, 217, 217);
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    flex: 1 1 22%; /* 각 섹션을 22% 너비로 설정 */
    max-width: 22%;
    box-sizing: border-box;
}

.statistics-section h3 {
    color: rgb(0, 0, 0);
    margin-bottom: 15px;
    font-size: 18px;
}

.statistics-section ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.statistics-section ul li {
    padding: 10px 0;
    border-bottom: 1px solid rgb(179, 215, 255);
}

.statistics-section ul li:last-child {
    border-bottom: none;
}

.rightWing {
	position: absolute;
	top: 40px;
	right: -50px;
}

.SideBar {
	position: relative;
}

/* 오른쪽 메뉴 */
.right_menu {
    /* position: fixed; */
    /* top: 40%; */
    /* right: 35px;*/
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 10px;
}

.right_menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.right_menu ul li {
    margin-bottom: 10px;
}

.right_menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.right_menu ul li a:hover {
    color: #007BFF;
}

/* 지도 컨테이너 */
.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#map {
    width: 900px;
    height: 400px;
    margin: 20px 0; /* 지도의 여백 추가 */
}

/* 헤더 내 기업 정보 */
.header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

.company-info {
    display: flex;
    align-items: center;
}

.company-name {
    display: flex;
    align-items: center;
    font-size: 24px;
    margin-right: 30px;
}

.company-name a {
    color: black; /* 기본 텍스트 색상 */
    text-decoration: none; /* 밑줄 제거 */
}

.company-name a:hover {
    color: #007bff; /* 마우스 오버 시 글씨 색상 파란색으로 변경 */
}

#scribe_button {
    margin-left: 15px;
}

/* 테이블 스타일 */
.style2 {
    width: 100%; /* 전체 너비를 사용 */
}

/* 지도보기 버튼 스타일 */
.map-button {
    background-color: rgb(255, 255, 255); /* 버튼 배경 색상: 흰색 */
    color: rgb(0, 0, 0); /* 버튼 텍스트 색상: 검은색 */
    border: 2px solid #000000; /* 버튼 테두리 색상: 검은색 */
    padding: 2px 6px; /* 버튼 패딩: 크기 줄임 */
    font-size: 12px; /* 버튼 텍스트 크기: 줄임 */
    border-radius: 4px; /* 버튼 모서리 둥글게 */
    cursor: pointer; /* 마우스 커서 포인터로 변경 */
    text-align: center; /* 텍스트 가운데 정렬 */
    display: inline-block; /* 버튼을 인라인 블록으로 설정 */
    margin-left: 5px; /* 왼쪽 마진 추가 */
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s; /* 배경 색상, 테두리 색상, 그림자에 부드러운 전환 효과 추가 */
}

.map-button:hover {
    background-color: rgb(221, 221, 221); /* 호버 시 배경 색상: 약간의 회색 */
    border-color: rgb(0, 0, 0); /* 호버 시 테두리 색상: 어두운 검은색 */
}

.company-info-right {
	margin-left: 30px;
}

.company-info-left {
	margin-left: 10px;
}

/* 스크랩 스타일 */
.girBtn1 {
    display: flex;
    align-items: center;
    background: transparent;
    border: 0px;
    padding: 3px 8px;
/*     border-color: #fff; */
}

/* .girBtn1:before { */
/*     position: relative; */
/*     display: inline-block; */
/*     background: url(../../star.png) no-repeat; */
/*     vertical-align: middle; */
/* } */

.girBtn1FavOn:before {
	position: relative;
    display: inline-block;
    background: url(../../star_on_info.png) no-repeat;
    vertical-align: middle;
    content: "";
    width: 40px;
    height: 40px;
    margin: 0 0;
/*     margin: 1px 3px 0 0; */
    background-position: -3 -1;
}

.girBtn1Fav:before {
	position: relative;
    display: inline-block;
    background: url(../../star_off_info.png) no-repeat;
    vertical-align: middle;
    content: "";
    width: 40px;
    height: 40px;
    margin: 0 0;
/*     background-position: -157px 0; */
/*     background-position: -77.5px 0; */
    background-position: 0 1;
}

.job-title{
	display: flex; /* Flexbox 사용 */
    align-items: center; /* 수직 정렬 */
}