@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    width: 800px;
    margin: 20px auto;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid rgb(217, 217, 217);
}

.info {
    padding: 10px;
}

.thumbnail,
.file-input {
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}

.artCompany {
    padding: 31px;
    border: 1px solid #e1e5eb;
    background: #fff;
    margin-top: 10px;
}

.infoTbBx .tbRow {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    color: #000;
}

.tbCell,
.tbCell2 {
    flex: 1 1 33.33%;
    padding: 10px;
}

.image-upload-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.image-upload {
    display: flex;
    flex-direction: column;
    align-items: center; /* 중앙 정렬 */
}

.file-upload-link {
    color: #007bff;
	justify-content: center; /* 중앙 정렬 */
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
}

.file-upload-link:hover {
    color: rgb(0, 70, 147);
}

.file-upload-input {
    display: none;
}

.thumbnail {
    border: 1px solid #d0d0d0;
	width: 80px; /* 가로 크기 제한 */
	height: 80px; /* 세로 크기 제한 */
}

.hidden {
    display: none;
}

.elWrap {
    border: 1px solid #ddd;
    background-color: #fff;
}

.schInpType {
    position: relative;
}

.ph {
    font-size: 16px;
    color: #afb0b2;
    position: absolute;
    top: 20px;
    left: 17px;
    transition: all 0.2s ease-in-out;
}

.inpDefault:focus + .ph,
.inpDefault:not(:placeholder-shown) + .ph {
    font-size: 11px;
    color: #afb0b2;
    top: 10px;
}

.inpDefault {
    width: 100%;
    height: 60px;
    line-height: 40px;
    padding: 20px 17px 0 17px;
    border: none;
    background-color: #fff;
    font-size: 16px;
    color: #333;
}

.point {
    color: #ff3333;
}

.skip {
    display: none;
}

.form-header {
    text-align: left;
    margin-bottom: 50px;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.form-group {
    margin-bottom: 40px;
}

.large-label {
    font-size: 18px;
    margin-bottom: 8px;
}

.button-container {
    text-align: center;
    margin-top: 50px;
}

button[type="submit"] {
    width: auto;
    padding: 15px 30px;
    background-color: #45a049;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    display: inline-block;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

.postal-link-container {
    position: absolute;
    top: 10px;
    right: 10px;
}

.postal-link-container a {
    color: #007bff;
    text-decoration: underline;
    font-size: 14px;
    text-decoration: none;
}

.postal-link-container a:hover {
    color: rgb(0, 70, 147);
}

.file-remove-link {
    color: rgb(172, 172, 172);
	justify-content: center; /* 중앙 정렬 */
    text-decoration: underline;
    font-size: 17px;
    cursor: pointer;
    text-decoration: none;
	margin-left: 15px;
}

.file-remove-link:hover {
    color: rgb(68, 68, 68);
}

.thumbnailEx{
   width:180px;
   height:100px;
   font-size:13px;
}